* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    height: 100vh;
    background-color:beige;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    width: 400px;
    padding: 20px 40px;
    background-color: white;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-match-error {
    display: none;
    color: red;
}

.result {
    display: none;
    background-color: lightgray;
    min-height: 200px;
    padding: 10px;
}

.result p {
    word-break: break-all;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.button-container button {
    margin-right: 10px;
}

.back-button {
    display: none;
}

.hidden {
    display: none;
}