* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    margin: 0;
}

body {
    height: 100vh;
    background-color: beige;
    position: relative;
}


.wrapper {
    padding: 30px 20px;
}

.paragraph-container {
    margin-bottom: 20px;
}

.paragraph {
    margin: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    position: absolute;
    top: -900px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
    bottom: 100px;
}

.form-container.active {
    opacity: 1;
    top: 280px;
    bottom: 20px;
}

.submit-container {
    height: 600px;
    width: 100%;
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.error-msg {
    margin-bottom: 10px;
    color: red;
}

.submit-container div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    bottom: 20px;
}

.close-btn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.submit-container input,
.submit-container textarea {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.submit-container textarea {
    height: 100px;
    resize: none;
}

.submit-btn,
.help-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(68, 66, 156);
    color: white;
    cursor: pointer;
}

.help-btn {
    position: absolute;
    bottom: 30px;
    right: 20px;
}